<div class="col-md-4">
  <div class="ibox">
    <div class="ibox-content product-box">
      <div class="product-imitation">
        <img height="120px" width="120px" src="{{ product?.url }}" />
      </div>
      <div class="product-desc">
        <span class="product-price"> {{ product?.price }} </span>
        <!-- <small class="text-muted">Category</small> -->
        <a routerLink="/product/{{ product?.id }}" class="product-name">{{
          product?.name
        }}</a>
        <div class="small m-t-xs">
          {{ product?.description }}
        </div>
        <div class="m-t text-righ">
          <a
            (click)="addProductToCart(product?.id)"
            class="btn btn-xs btn-outline btn-primary"
            >Add to cart <fa-icon [icon]="faCartPlus"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
