<div class="container wrapper">
  <!-- <div class="row cart-head">
    <div class="container">
      <div class="row">
        <p></p>
      </div>
      <div class="row">
        <div style="display: table; margin: auto">
          <span class="step step_complete">
            <a href="#" class="check-bc">Cart</a>
            <span class="step_line step_complete"> </span>
            <span class="step_line backline"> </span>
          </span>
          <span class="step step_complete">
            <a href="#" class="check-bc">Checkout</a>
            <span class="step_line"> </span>
            <span class="step_line step_complete"> </span>
          </span>
          <span class="step_thankyou check-bc step_complete">Thank you</span>
        </div>
      </div>
      <div class="row">
        <p></p>
      </div>
    </div>
  </div> -->
  <div class="row cart-body">
    <div
      class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
      <!--REVIEW ORDER-->
      <div class="panel panel-info">
        <div class="panel-heading">
          Review Order
          <div class="pull-right">
            <small><a class="afix-1" routerLink="/cart">Edit Cart</a></small>
          </div>
        </div>
        <div class="panel-body">
          <div class="form-group" *ngFor="let product of cart?.productList">
            <div class="col-sm-3 col-xs-3">
              <img class="img-responsive" src="{{ product.product.url }}" />
            </div>
            <div class="col-sm-6 col-xs-6">
              <div class="col-xs-12">{{ product.product.name }}</div>
              <div class="col-xs-12">
                <small
                  >Quantity:<span>{{ product.quantity }}</span></small
                >
              </div>
            </div>
            <div class="col-sm-3 col-xs-3 text-right">
              <small
                >Price:<span>{{ product.product.price }}</span></small
              >
              <h4>Sub Price<span>$</span>{{ product.totalPrice }}</h4>
            </div>
            <hr />
          </div>
        </div>
      </div>
      <!--REVIEW ORDER END-->
    </div>

    <app-checkoutinfo (placeOrder)="placeOrder($event)"></app-checkoutinfo>
    <!-- paymentinfo component -->
  </div>
  <!-- <div class="row cart-footer"></div> -->
</div>
